# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.*]
charset = utf-8
indent_style = space
indent_size = 4

[*.{ts,tsx}]
indent_obj = no
insert_spaces.before_parens_in_imports = false
typescript_imports_space_inside_brackets = false
typescript_object_literals_space_inside_brackets = false
ij_any_catch_on_new_line = true
ij_any_else_on_new_line = true
ij_any_finally_on_new_line = true
ij_any_for_on_new_line = true
ij_any_if_on_new_line = true
ij_any_switch_on_new_line = true

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
