**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
.yarn
dist
node_modules
temp
tsc-out
tsdoc-metadata.json
target
output
build
.cache
.vscode
.rollup.cache
tsconfig.tsbuildinfo
.netlify
pnpm-lock.yaml
package-lock.json
yarn.lock
