{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "react-native",
    "import"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/member-delimiter-style": [
      "error", {
        "multilineDetection": "brackets",
        "multiline": {
          "delimiter": "comma",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        },
        "overrides": {
          "interface": {
            "multiline": {"delimiter": "none"},
            "singleline": {"delimiter": "comma"}
          }
        }
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/space-infix-ops": "error",
    "@typescript-eslint/type-annotation-spacing": "error",
    "arrow-body-style": "off",
    "comma-dangle": ["error", "always-multiline"],
    "import/newline-after-import": ["error", {"count": 2}],
    "import/order": [
      "error", {
        "pathGroups": [{"pattern": "react+(|-native)", "group": "external", "position": "before"}],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "max-len": ["warn", {"code": 120}],
    "no-console": ["error", {"allow": ["warn", "error", "info"]}],
    "no-duplicate-imports": "error",
    "no-multiple-empty-lines": ["error", {"max": 2, "maxEOF": 0}],
    "no-use-before-define": "error",
    "object-curly-spacing": ["error", "never"],
    "operator-linebreak": ["error", "before"],
    "quotes": ["error", "double", {"avoidEscape": true}],
    "semi": "off",

    "react-hooks/exhaustive-deps": "error",
    "react/jsx-closing-bracket-location": [
      "error", {
        "nonEmpty": "after-props",
        "selfClosing": "after-props"
      }
    ],
    "react/jsx-curly-spacing": [
      2, {
        "when": "never",
        "attributes": {
          "allowMultiline": false
        },
        "children": true
      }
    ],
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/jsx-fragments": ["error", "element"],
    "react/jsx-max-props-per-line": ["error", {"maximum": 1}],
    "react/jsx-tag-spacing": [
      "error", {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "allow"
      }
    ],
    "react/jsx-wrap-multilines": [
      "error", {
        "declaration": "parens",
        "assignment": "parens",
        "return": "parens",
        "arrow": "parens",
        "condition": "ignore",
        "logical": "ignore",
        "prop": "ignore"
      }
    ],
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
     {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parserOptions": {"project": ["./tsconfig.json"]}
    },
    {
      "files": ["*.spec.js", "*-test.js"],
      "globals": {"jsdom": "readonly"},
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "jest/require-top-level-describe": "error"
      }
    }
  ]
}
