<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073108062447-1k55p7mirdf5uotnv928enurec8lg5sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073108062447-1k55p7mirdf5uotnv928enurec8lg5sk</string>
	<key>API_KEY</key>
	<string>AIzaSyD99Hs5qORVqNfET_sp44WgYA4tHSGFS9U</string>
	<key>GCM_SENDER_ID</key>
	<string>1073108062447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>red.paragraph.log4fit</string>
	<key>PROJECT_ID</key>
	<string>log4fit-miskamyasa</string>
	<key>STORAGE_BUCKET</key>
	<string>log4fit-miskamyasa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073108062447:ios:bf09f1ec9f7a25e8258b1a</string>
</dict>
</plist>